module.exports = {
  base_url: 'http://localhost:3001/api/v1',
  mysql: {
    host:     'localhost',
    user:     'root',
    password: '',
    database: 'iceberg_gaming',
  },

  firebaseConfig: {
    apiKey: ""
    authDomain: ""
    databaseURL: ""
    storageBucket: ""
    messagingSenderId: ""
    appId: ""
    projectId: ""
    measurementId: ""
  },

  jwt_secret:         'change_me',
  jwt_refresh_secret: 'change_me',

  // datadog: {
  //   logger: {
  //     host: 'http-intake.logs.datadoghq.com',
  //     path: '',
  //     ssl:  true,
  //   }
  // },
};


